* {
  background: #242121;
  margin: 0;
  padding: 0;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo {
  height: 40px;
}

.name {
  color: white;
  font-weight: normal;
}

.nameBooks {
  font-size: smaller;
  font-weight: lighter;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5px;
  height: 40px;
  padding: 5px 30px;
  border-bottom: 1px solid rgb(176, 176, 176);
}

input[type="text"] {
  width: 500px;
  padding-left: 10px;
  border: none;
  background: transparent;
  color: white;
}

input:focus {
  outline: none;
}

.searchIcon,
.navRight {
  background: transparent;
}

.search {
  background: #373737;
  height: 20px;
  padding: 5px;
}

button {
  background: transparent;
  padding: 5px 20px;
  margin-left: 10px;
  border: 1px solid rgb(146, 146, 146);
  color: rgb(144, 144, 144);
  cursor: pointer;
}

.navRight img {
  height: 30px;
  padding: 10px;
}

.book-list {
  margin: 0 50px;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}

.book-card {
  padding: 10px;
  text-align: center;
  color: white;
  cursor: pointer;
}

.book-detail {
  max-width: 300px;
}

.book-links{
  display: flex;
  justify-content: space-between;
}

.book-links button{
  margin: 0;
}